/* 
    Created on : 27 oct 2025, 8:38:21
    Author     : roserruizrojas
*/

.bg-totlight {
  --bs-bg-opacity: 1;
  background-color: #eefcfe;
}


.bg-tot {
  background-color: #92dbe6;
}


.btn-tot {
  background-color: #eefcfe;
  border: 1px solid #35818b;  
  color: #35818b;              
  border-radius: 6px;
  transition: background-color 0.2s ease;
}


.btn-tot:hover,
.btn-tot:focus,
.btn-tot:active {
  background-color: #92dbe6;  
  border: none;
  color: white;
  box-shadow: none;            
}


.text-tot-bold {
  font-weight: bold;    
  color: #324b4f;        
}


.text-tot-light {
  color: #324b4f;
}


